<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum enim neque
    tenetur odit porro dolor totam minus temporibus sed praesentium?
  </p>
</blockquote>
<footer>
  <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary quote__line">
        <use xlink:href="./images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 clas="media__title quote__author">Sam Smith</h3>
      <p class="quote__company">
        SOLID Ventures
      </p>
    </div>
  </div>
</footer>
